.footer {
  position: sticky;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background-color: #272c24;

  @media (min-height: 100vh) {
    position: static;
  }

  &__link {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: #f4f8fb;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #f4f8fb;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
