.table {
  width: 100%;
  padding: 40px;
  border-collapse: separate;
  border: 2px solid #ece8e5;
  border-radius: 20px;
  border-spacing: 0;
  background-color: #fefefe;

  @media (max-width: 575px) {
    padding: 15px;
  }
}

td {
  padding: 10px;
  border-left: 2px solid #ece8e5;
  border-top: 2px solid #ece8e5;
}

td:first-child {
  border-left: none;
}

tr:first-child td {
  border-top: none;
}